.Rproj.user
.Rhistory
*.Rproj
.vscode
__pycache__

# root
*.txt

# data
data/*.vcf*
data/*.txt
data/**/*.csv
data/**/*.xlsx
data/**/*.TIF
data/**/*.PNG
data/**/.DS_Store
data/**/*.md
data/**/*.zip
data/**/*.Rhistory
data/**/*.ipynb

# logs
logs/*.txt
logs/*.out

# output
output/*.csv
output/*.txt
output/*.tsv
output/*.vcf*

# notebooks
notebooks/*.ipynb

# tassel
tassel-5-standalone
