.Rhistory
*.Rproj
.vscode

data/**/*.csv
data/**/*.xlsx
data/**/*.TIF
data/**/*.PNG
data/**/.DS_Store
data/**/*.md
data/**/*.zip
data/**/*.Rhistory
data/**/*.ipynb
data/*.vcf.gz*

logs/*.txt
logs/*.out

output/*.csv
output/*.txt
output/*.vcf.gz

notebooks/*.ipynb
.Rproj.user
